@font-face {
    font-family: 'OpenSans';
    src: url('fonts/OpenSans.eot');
    src: url('fonts/OpenSans.eot') format('embedded-opentype'),
         url('fonts/OpenSans.woff2') format('woff2'),
         url('fonts/OpenSans.woff') format('woff'),
         url('fonts/OpenSans.ttf') format('truetype'),
         url('fonts/OpenSans.svg#OpenSans') format('svg');
}

html {
  box-sizing: border-box;
  font-family: 'OpenSans';
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  position: relative;
}
a{
  color: #005579;
  text-decoration: none;
}

fieldset{
  display: block;
  border: none;
  max-width: 500px;
  margin: 20px auto 20px auto;
  // border: 1px solid blue;
  padding-top: 20px;
}

.bar{
  width: 100%;
  width: 100%;
  height: 10px;
  background-color: #005579;
}

.logo{
  margin: 0 auto;
  background-image: url('images/logo.png');
  max-width: 280px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 50px;
  margin-bottom: 20px;
}

.form{
  // border: 1px solid black;
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
}

.numbers{
  height: 22px;
  width: 22px;
  display: inline-block;
  line-height: 22px;
  text-align: center;
  font-size: 14px;
  border-radius: 50%;
  border: 1px solid #007faa;
  margin-right: 10px;
}

legend{
  color: #007faa;
}

.description{
  max-width: 600px;
  margin: 50px auto;
  padding: 0 20px;
  line-height: 30px;
}

.divider{
  height: 1px;
  max-width: 600px;
  background-color: #DBDBDB;
  margin: 0 auto 50px ;
}

.input{
  color: #000;
  display: inline-block;
  border: 1px solid #7f7f7f;
  width: 100%;
  margin-bottom: 20px;
  height: 40px;
  padding-left: 20px;

}

.input:focus{
  color: #000;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #DBDBDB;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #DBDBDB;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #DBDBDB;
}
:-moz-placeholder { /* Firefox 18- */
  color: #DBDBDB;
}

/* left positioning for input boxes*/
#expirationBox, #firstNameBox, #cityBox, #zipCodeBox, #cancelBtn {
  display: inline;
  width: 47%;
  float: left;
  margin-right: 4%;
}

/* right positioning for input boxes*/
 #ccvBox, #lastNameBox, #stateBox, #countryBox, #saveBtn{
  width: 47%;
  float: right;
  // clear: both;
}

.btn{
  height: 40px;
  border-radius: 20px;
}

#cancelBtn{
  border: 1px solid #007faa;
  background-color: #fff;
  color: #007faa;
}

#saveBtn{
  border: none;
  background-color: #007faa;
  color: #fff;
}

#saveBtn:hover{
  background-color: #00719e;
}
#cancelBtn:hover{
  background-color: #00719e;
  color: #fff;
}


.error{
  color: red;
  font-size: 12px;
}

.copyright{
  position: relative;
  text-align: center;
  font-size: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 50px auto;
}
