@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans.eot');
    src: url('../fonts/OpenSans.eot') format('embedded-opentype'),
         url('../fonts/OpenSans.woff2') format('woff2'),
         url('../fonts/OpenSans.woff') format('woff'),
         url('../fonts/OpenSans.ttf') format('truetype'),
         url('../fonts/OpenSans.svg#OpenSans') format('svg');
}

html {
  box-sizing: border-box;
  font-family: 'OpenSans';
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  position: relative;
    /*** Fallback ***/
  font-size: 20px;
  /*** Responsive ***/
  font-size: 1.39vw;
}
a{
  color: #005579;
  text-decoration: none;
}

fieldset{
  display: block;
  border: none;
  max-width: 500px;
  margin: 20px auto 20px auto;
  // border: 1px solid blue;
  padding-top: 20px;
}

.bar{
  width: 100%;
  width: 100%;
  height: 10px;
  background-color: #005579;
}

.logo{
  margin: 0 auto;
  background-image: url('../images/logo.png');
  max-width: 280px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 50px;
  margin-bottom: 20px;
}

.form{
  // border: 1px solid black;
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
}

.numbers{
  height: 22px;
  width: 22px;
  display: inline-block;
  line-height: 22px;
  text-align: center;
  font-size: 14px;
  border-radius: 50%;
  border: 1px solid #007faa;
  margin-right: 10px;
}

legend{
  color: #007faa;
}

.text{
  max-width: 600px;
  margin: 50px auto;
  padding: 0 20px;
  line-height: 30px;
}

.successMessage{
  max-width: 600px;
  margin: 50px auto;
  padding: 0 20px;
  text-align: center;
  display: none;
}

.successText{
  font-size: 45px;
  display: block;
  margin-bottom: 20px;
}

.thankyouText{
  display: inline-block;
}

.divider{
  height: 1px;
  max-width: 600px;
  background-color: #DBDBDB;
  margin: 0 auto 50px ;
}

.input{
  color: #000;
  display: inline-block;
  border: 1px solid #7f7f7f;
  width: 100%;
  margin-top: 20px;
  height: 40px;
  padding-left: 10px;

}

.input:focus{
  color: #000;
}

:placeholder-shown{
  color: #DBDBDB;
    // font-size: 1.39vw;

}



/* left positioning for input boxes*/
#expirationBox, #firstNameBox, #cityBox, #zipCodeBox, #cancelBtn {
  display: inline;
  width: 47%;
  float: left;
  margin-right: 6%;
}

/* right positioning for input boxes*/
 #ccvBox, #lastNameBox, #stateBox, #countryBox, #saveBtn{
  width: 47%;
  // float: right;
  // clear: both;
}

.btn{
  height: 40px;
  border-radius: 20px;
}

#cancelBtn{
  border: 1px solid #007faa;
  background-color: #fff;
  color: #007faa;
}

#saveBtn{
  border: none;
  background-color: #007faa;
  color: #fff;
}

#saveBtn:hover{
  background-color: #00719e;
}
#cancelBtn:hover{
  background-color: #00719e;
  color: #fff;
}

// input[type="reset"]{
//     font-size: 1.39vw;
// }


.error{
  color: red;
  font-size: 12px;
  position: relative;
  margin-top: 10px;

}


#parsley-id-9, #parsley-id-11, 
#parsley-id-13, #parsley-id-15,
 #parsley-id-21, #parsley-id-23,
#parsley-id-25, #parsley-id-27{
    width: 50%;
    float: left;
}

 #parsley-id-11, 
 #parsley-id-15,
 #parsley-id-23,
 #parsley-id-27{
  padding-left: 17px;
 }



.footer{
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

div.AuthorizeNetSeal{
  position: relative;
  bottom: 20px;
  left: 20px;
}

.copyright{
  max-width: 500px;
  text-align: center;
  font-size: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 50px auto;
}

  @media (max-width: 768px) {

      body{
        font-size: 2.6vw;
      }

    }

  @media (max-width: 480px) {

      body{
        font-size: 3.13vw;
      }
     .text{
          line-height: 20px;
      }

      div.AuthorizeNetSeal{
           margin: auto !important;
          bottom: 20px;
          left: 0;
      
      }
    }
